[user]
	name = Yash-Garg
	email = yash.garg@outlook.in
	signingkey = 83B503973C5C7470
[color]
	ui = true
[core]
	editor = nano
	autocrlf = false
[commit]
	gpgsign = true
[format]
	signoff = true
[url "git@github.com:"]
	insteadOf = https://github.com/
	insteadOf = git://github.com/
