[user]
	name = Yash-Garg
	email = yash.garg@outlook.in
	signingkey = BAF635CF31AFC3CF
[color]
	ui = auto
[core]
	editor = nano
	autocrlf = false
[commit]
  	gpgsign = true
[url "git@github.com:"]
  	insteadOf = https://github.com/
  	insteadOf = git://github.com/
