[user]
    name = Yash-Garg
    email = yash.garg@outlook.in
    signingkey = FACA107EDD0AD3F2
[color]
    ui = true
[core]
    editor = nano
    autocrlf = false
[commit]
    gpgsign = true
[format]
    signoff = true
[url "git@github.com:"]
    insteadOf = https://github.com/
    insteadOf = git://github.com/
[pull]
    rebase = false
[diff]
    submodule = log
[gpg]
    program = gpg
[includeIf "gitdir:~/Documents/Work/"]
    path = .gitconfig-vauld
