@-moz-document url(chrome://browser/content/browser.xhtml)
{
    #main-window body {
        flex-direction: column-reverse !important;
    }

    #navigator-toolbox {
        flex-direction: column-reverse !important;
    }

    #urlbar {
        top: unset !important;
        bottom: calc(var(--urlbar-margin-inline)) !important;
        box-shadow: none !important;
        display: flex !important;
        flex-direction: column !important;
    }

    #urlbar > * {
        flex: none;
    }

    #urlbar-input-container {
        order: 2;
    }

    #urlbar > .urlbarView {
        order: 1;
        border-bottom: 1px solid #666;
    }

    #urlbar-results {
        display: flex;
        flex-direction: column-reverse;
    }

    .search-one-offs {
        display: none !important;
    }

    .tab-background {
        border-top: none !important;
    }

    #navigator-toolbox::after {
        border: none;
    }

    #TabsToolbar .tabbrowser-arrowscrollbox,
    #tabbrowser-tabs,
    .tab-stack {
        min-height: 28px !important;
    }

    .tab-content {
        padding: 0 5px;
    }

    .tab-close-button .toolbarbutton-icon {
        width: 12px !important;
        height: 12px !important;
    }

    toolbox[inFullscreen="true"] {
        display: none;
    }

    #mainPopupSet panel.panel-no-padding {
        margin-top: calc(-50vh + 40px) !important;
    }

    #mainPopupSet .panel-viewstack,
    #mainPopupSet popupnotification {
        max-height: 50vh !important;
        height: 50vh;
    }

    #mainPopupSet panel.panel-no-padding.popup-notification-panel {
        margin-top: calc(-50vh - 35px) !important;
    }

    #navigator-toolbox .panel-viewstack {
        max-height: 75vh !important;
    }

    panelview.cui-widget-panelview {
        flex: 1;
    }

    panelview.cui-widget-panelview > vbox {
        flex: 1;
        min-height: 50vh;
    }
}
